<nav role="navigation" aria-label="{f:translate(key: 'pagination.aria.navigation', extensionName: 'paginatedprocessors')}">
	<ul class="pagination">
		<f:if condition="{pagination.previousPageNumber}">
			<li class="previous">
				<f:link.page additionalParams="{paginationPage: pagination.previousPageNumber, paginatorId: pagination.uniqueId}" title="{f:translate(key:'pagination.previous', extensionName: 'paginatedprocessors')}"><</f:link.page>
			</li>
		</f:if>
		<f:for each="{pagination.allPageNumbers}" as="currentPage" iteration="iterator">
			<f:if condition="{currentPage} == {pagination.currentPageNumber}">
				<f:then>
					<li class="current">
						{currentPage}
					</li>
				</f:then>
				<f:else>
					<li>
						<f:if condition="{iterator.isFirst}">
							<f:then>
								<f:link.page>{currentPage}</f:link.page>
							</f:then>
							<f:else>
								<f:link.page additionalParams="{paginationPage: currentPage, paginatorId: pagination.uniqueId}">{currentPage}</f:link.page>
							</f:else>
						</f:if>
					</li>
				</f:else>
			</f:if>
		</f:for>
		<f:if condition="{pagination.nextPageNumber}">
			<li class="next">
				<f:link.page additionalParams="{paginationPage: pagination.nextPageNumber, paginatorId: pagination.uniqueId}" title="{f:translate(key: 'pagination.next', extensionName: 'paginatedprocessors')}">></f:link.page>
			</li>
		</f:if>
	</ul>
</nav>
